* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  margin: 0px auto;
}
@media (max-width: 767px) {
  .container {
    padding: 0px 20px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.section-title {
  color: #333333;
  margin-bottom: 73px;
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .section-title {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.arrows {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 97%;
}
.arrows div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 767px) {
  .arrows div {
    width: 30px;
    height: 30px;
  }
}
.arrows div svg {
  color: #09B451;
  font-size: 15px;
}

.courses {
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 0 #CBCBCB;
}
@media (max-width: 767px) {
  .courses:nth-child(2) .title {
    font-size: 10px !important;
  }
}
.courses img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 215px;
}
@media (max-width: 767px) {
  .courses img {
    height: 103px;
  }
}
.courses .parent {
  padding: 32px 23px 32px 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 46%;
}
@media (max-width: 767px) {
  .courses .parent {
    position: relative;
    padding: 7px 9px 4px 9px;
  }
}
.courses .parent div:nth-child(1) {
  display: flex;
  align-items: center;
}
.courses .parent div:nth-child(1) .title {
  margin-right: 33px;
  color: #333333;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .courses .parent div:nth-child(1) .title {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .courses .parent div:nth-child(1) .title {
    font-size: 12px;
    margin-right: 10px;
  }
}
.courses .parent div:nth-child(1) div {
  display: flex;
}
.courses .parent div:nth-child(1) div svg {
  font-size: 18px;
  color: #09B451;
  margin-right: 8px;
}
@media (max-width: 767px) {
  .courses .parent div:nth-child(1) div svg {
    font-size: 8px;
  }
}
.courses .parent div:nth-child(1) div .star {
  font-size: 16px;
  color: #000000;
}
@media (max-width: 767px) {
  .courses .parent div:nth-child(1) div .star {
    font-size: 8px;
  }
}
.courses .parent div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courses .parent div:nth-child(2) p {
  color: #333333;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .courses .parent div:nth-child(2) p {
    font-size: 10px;
  }
}
.courses .parent div:nth-child(2) div svg {
  margin-right: 5px;
  font-size: 16px;
  color: #09B451;
}
@media (max-width: 767px) {
  .courses .parent div:nth-child(2) div svg {
    font-size: 12px;
  }
}
.courses .parent div:nth-child(2) .price {
  color: #09B451;
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .courses .parent div:nth-child(2) .price {
    font-size: 14px;
    position: absolute;
    bottom: 26px;
  }
}

header {
  margin-bottom: 50px;
}
header .container {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container h1 {
  margin: 0;
}
header .container ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header .container ul li {
  cursor: pointer;
  margin-right: 25px;
  font-size: 25px;
  color: black;
}

h1 {
  margin-bottom: 50px;
}

.products .container .print {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
}
@media (max-width: 992px) {
  .products .container .print {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .products .container .print {
    grid-template-columns: repeat(1, 1fr);
  }
}
.products .container .print a {
  color: #000000;
  text-decoration: none;
}
.products .container .print .product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products .container .print .product .img {
  background-color: #F0EEED;
  width: 100%;
  height: 298px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 22px;
}
.products .container .print .product .img img {
  width: 60%;
}
.products .container .print .product .info {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products .container .print .product .info .title {
  font-size: 20px;
  font-weight: bold;
}
.products .container .print .product .info .rating {
  display: flex;
  align-items: center;
}
.products .container .print .product .info .rating > div {
  width: -moz-fit-content;
  width: fit-content;
}
.products .container .print .product .info .rating > div .star {
  white-space: nowrap;
  overflow: hidden;
}
.products .container .print .product .info .rating > div .star svg {
  color: #FFC633;
  font-size: 19px;
}
.products .container .print .product .info .rating .rate {
  display: inline-block;
  font-size: 14px;
}
.products .container .print .product .info .price {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.products .container .print .add-button {
  right: 0px;
  width: 130px;
  height: 55px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 20px;
  align-self: flex-end;
}
.products .container .print .add-button p {
  font-size: 16px;
  font-weight: 500;
}

.cart .container .print {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 992px) {
  .cart .container .print {
    flex-direction: column;
  }
}
.cart .container .print .left {
  width: 70%;
  padding: 20px 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
}
.cart .container .print .left a {
  text-decoration: none;
}
@media (max-width: 992px) {
  .cart .container .print .left {
    min-height: 175px;
    margin-bottom: 25px;
    width: 100%;
  }
}
.cart .container .print .left .empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.cart .container .print .left .product {
  display: flex;
  justify-content: space-between;
}
.cart .container .print .left .product .one {
  display: flex;
}
.cart .container .print .left .product .one .img {
  width: 124px;
  height: 124px;
  background-color: #F0EEED;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.cart .container .print .left .product .one .img img {
  width: 50%;
}
.cart .container .print .left .product .one .info {
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart .container .print .left .product .one .info p {
  color: black;
}
.cart .container .print .left .product .one .info .title {
  font-size: 20px;
  font-weight: bold;
}
.cart .container .print .left .product .one .info .category {
  font-size: 14px;
}
.cart .container .print .left .product .one .info .price {
  font-size: 24px;
  font-weight: bold;
}
.cart .container .print .left .product svg {
  font-size: 24px;
  color: #FF3333;
  cursor: pointer;
}
.cart .container .print .left hr {
  height: 1px;
  color: rgba(0, 0, 0, 0.1);
  margin: 24px 0 24px 0;
}
.cart .container .print .right {
  width: 25%;
  height: 458px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
@media (max-width: 992px) {
  .cart .container .print .right {
    width: 100%;
  }
}
.cart .container .print .right p {
  color: black;
}
.cart .container .print .right .titel {
  font-size: 24px;
  font-weight: bold;
}
.cart .container .print .right > div {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.cart .container .print .right > div P:nth-child(1) {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}
.cart .container .print .right > div P:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
}
.cart .container .print .right .total P:nth-child(1) {
  color: black;
}
.cart .container .print .right .total P:nth-child(2) {
  font-size: 24px;
}
.cart .container .print .right .button {
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.cart .container .print .right .button P {
  margin-right: 12px;
  font-size: 16px !important;
  font-weight: bold;
  color: #FFFFFF !important;
}
.cart .container .print .right .button svg {
  font-size: 15px;
  color: #FFFFFF;
}

.product-info .container .print {
  display: flex;
  justify-content: space-between;
}
.product-info .container .print .img {
  width: 45%;
  height: 500px;
  background-color: #F0EEED;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.product-info .container .print .img img {
  width: 50%;
}
.product-info .container .print .info {
  width: 49%;
}
.product-info .container .print .info .titel {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 19px;
}
.product-info .container .print .info .category {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}
.product-info .container .print .info .rating {
  display: flex;
  margin-bottom: 25px;
}
.product-info .container .print .info .rating .starts {
  margin-right: 20px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 100px;
}
.product-info .container .print .info .rating .starts svg {
  color: #FFC633;
}
.product-info .container .print .info .price {
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: bold;
}
.product-info .container .print .info .description {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.product-info .container .print .info hr {
  color: rgba(0, 0, 0, 0.1);
  height: 1px;
  margin: 30px 0 30px 0;
}
.product-info .container .print .info .button {
  width: 100%;
  height: 52px;
  background-color: black;
  border-radius: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.product-info .container .print .info .button p {
  color: #FFFFFF;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */